/* See license.txt for terms of usage */

.panelNode-ElementEvents {
} 

.panelNode-events-script {
    overflow: hidden;
    font-family: monospace !important;
}

.panelNode-events-targetChain {
    padding: 8px;
}

/************************************************************************************************/

.eventInfoTable {
    width: 100%;
    font-size: 11px;
}

.eventRow {
    background: white;
    white-space: nowrap;
}

.eventRow:hover {
    background: #EFEFEF;
    cursor: pointer;
}

.eventRow > .eventTypeCol {
    text-align: left;
}

.eventLabel {
    padding: 2px 0 3px 0 !important;
}

.eventRow .eventTypeLabel {
    background-image: url(chrome://firebug/skin/win/twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 3px 4px;
}

.eventRow.opened .eventTypeLabel {
    background-image: url(chrome://firebug/skin/win/twistyOpen.png);
}

.eventTypeLabel {
    font-weight: bold;
    padding-left: 18px !important;
}

.eventTypeLabel:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.capturingLabel {
    color: black;
}

.eventRow .infoLabel {
    color: gray;
}

.eventScriptCol {
    font-family: monospace;
}

/************************************************************************************************/

.eventRow.selected .eventListenerInfo {
    border-color: Highlight;
    background-color: Highlight;
    -moz-border-radius: 3px;
}

.eventRow.selected .capturingLabel,
.eventRow.selected .infoLabel,
.eventRow.selected .objectLink,
.eventRow.selected .selectorTag,
.eventRow.selected .selectorId,
.eventRow.selected .selectorClass,
.eventRow.selected .selectorValue,
.eventRow.selected .arrayComma {
    color: HighlightText !important;
}

/************************************************************************************************/

.eventListenerInfo {
    padding: 2px 0 2px 4px !important;
}

/************************************************************************************************/

.eventTypeBodyRow TABLE {
    width: 100%;
}

.eventRowBox {
    padding-left: 14px;
}

/************************************************************************************************/

.eventWarning {
    text-align: center;
}

/************************************************************************************************/
/* FBTrace */

.DBG_EVENTS {
    color: rgb(0, 126, 236);
}
